@media screen and (min-width: 700px) {

    .hamburger { display: none; }

    #primary-nav ul {
        max-height: none;
        overflow: visible;
        display: flex;
        justify-content: center;
    }

    #primary-nav li a { border-bottom: none; }

    #member-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #member-container.list-view {
        grid-template-columns: 1fr;
    }

    #member-container:not(.list-view) .member-card img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1000px) {
    #member-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #member-container.list-view {
        grid-template-columns: 1fr;
    }
}
